DB_NAME='database_name'
DB_USER='database_user'
DB_PASSWORD='database_password'
DB_HOST='localhost'

WP_ENV='development'
WP_HOME=https://${HTTP_HOST}
WP_SITEURL="${WP_HOME}/wp"

ADMIN_EMAIL=info@growtype.com

# General settings
#THEME_VERSION=
#REPLACE_MISSING_IMAGES=

# System settings
#ALLOW_UNFILTERED_UPLOADS=true
#AUTOMATIC_UPDATER_DISABLED=true
#DISABLE_WP_CRON=false
#DISALLOW_FILE_EDIT=true
#DISALLOW_FILE_MODS=true
#WP_POST_REVISIONS=true

# SMTP settings
#SMTP_HOST=
#SMTP_PORT=465
#SMTP_USERNAME=
#SMTP_PASSWORD=
#SMTP_AUTH=true
#SMTP_SECURE=ssl

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
# DB_PREFIX='wp_'

# Debugging
# WP_DEBUG_PRODUCTION=true
# WP_DEBUG_DISPLAY=true
# WP_DEBUG_LOG=/web/app/debug.log
# SCRIPT_DEBUG=true
# display_errors=0
